<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Angular SPA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse" id="navbarNavDropdown">

<ul class="navbar-nav">

</ul>

  </div>

</nav>

<div class="jumbotron">
  <h1 class="display-4">Angular SPA</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

</div>

<body>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 24rem;">
        <img class="card-img-top" height= "250px" src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Angular</h5>
          <div class="card-header">
            Fast Framework for both desktop and mobile
         </div>
          <p class="card-text">
            <li class="list-group-item">Consistency</li>
            <li class="list-group-item">Productivity</li>
            <li class="list-group-item">Maintainability</li>
            <li class="list-group-item">Modularity</li>
            <li class="list-group-item">  Catch Errors</li>
          </p>
          <a href="https://angular.io/" class="btn btn-primary">LINK</a>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="card" style="width: 24rem;">
        <img class="card-img-top" height="250px" src="https://getbootstrap.com/docs/4.1/assets/img/bootstrap-stack.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Bootstrap</h5>
          <div class="card-header">
            Front End Component Library
            toolkit for developing with HTML, CSS, and JS
         </div>
          <p class="card-text">
            <li class="list-group-item">Easy to Use</li>
            <li class="list-group-item">Responsiveness</li>
            <li class="list-group-item">Customizable</li>
            <li class="list-group-item">Consistency</li>
            <li class="list-group-item"> Support</li>
          </p>
          <a href="https://getbootstrap.com/" class="btn btn-primary">LINK</a>
        </div>
      </div>


    </div>

  </div>
</div>
</body>
<hr />
<img src="https://images3.alphacoders.com/153/15387.jpg" class="img-thumbnail" alt="Aurora Borealis">
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Angular SPA</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/">Github</a>
              </li>
              <li>
                <a href="https://mean-rm.herokuapp.com/">Projects Main</a>
              </li>
              <li>
                <a href="https://dashboard.heroku.com/auth/heroku/callback?code=db1b88f7-1c36-4fe6-8dbc-6b7850229215">Heroku</a>
              </li>
              <li>
                <a href="https://github.com/joshnh/Git-Commands">Github Tips</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">




          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
