extend layout

block content


  P
    h1 Location Info
  p
      .col-sm-3
        h3 Node and npm
        p
        strong npm
        | is the package manager that allows you to download
        | node packages
        p You can install node depedencies by typing
        p
        strong npm install
        p In the terminal window
        p Confirm installation by typing
        p
        strong npm --version
        p
        strong node --version


     .col-sm-3
        h3 Express generator
        | Installed globally
        p
        strong npm install express-generator -g
        p Express is a web application framework for Node
        p Confirm installation by typing
        strong express --version

        p Express generator lets you use view/templating engines
        | such as Jade

     .col-sm-3
        h3 Git and Heroku
        p The front-end framework
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...

      .col-sm-3
         h3 Command line interface
         p The Web Server
         p Lorem ipsum dolor sit amet, consectetur adipisicing elit...
         p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...

       p
       h1 We will be using Jade templates for styling
       | Jade is unique because it contains no html tags

       p
       The following lines of code is a comparison between jade
       | and traditional HTML we are use to seeing.

       .col-sm-6
          h3 Jade
          p #randomname.class-name
          p p.subclass Example Text

        .col-sm-6
           h3 HTML
           p <div id="randomname" class="class-name">
           p <p>class="subclass">Example Text</p>
           p </div>
