extend layout

block content


  P
    h1 What do we need templating engines?

    p Improve productivity
    p Faster performance in rendering pages
    p You can generate other outputs other than HTML
    | such as JSON or XML
